<?php ?>
<style type="text/css">
	#cgroup-captcha input {
		display: block;
		clear: both;
	}
</style>
<h1>Contact Niels</h1>
<p>
If you have any questions, please fill out the following form to contact us. Thank you.
</p>
<?php
//module/Application/view/application/login/contact.phtml
$this->headTitle('Contact');
//$form = $this->form;
$form->setAttribute('action', $this->url('contact'));
$form->prepare();
if ($success):
?>
<div class="alert alert-success">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong>Success!</strong>
        Your mail is sent.<br/>
	</div>
<?php
	endif;
if ($messages):
?>
<div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong>Invalid input!</strong>
        The form fields are not filled out correctly.<br/>
	<?php
	echo '<ul>';
	foreach ($messages as $field => $messagesPerField)
	{
		foreach ($messagesPerField as $message)
		{
			echo '<li><strong>' . $field . ':</strong> ' . $message . '</li>';
		}
	}
	echo '</ul> </div>';

	endif;

	$displayOptions = array(
		'elements' => array(
			'name'    => array(
				'class'    => 'span3',
				'required' => TRUE,
			),
			'email'   => array(
				'class'    => 'span3',
				'required' => TRUE,
			),
			'subject' => array(
				'class' => 'span3',
			),
			'message' => array(
				'class'    => 'span6',
				'required' => TRUE,
				'rows'     => 5,
			),
			'captcha' => array(
				'class'    => 'span3 captcha',
				'required' => TRUE,
			),
			'send' => array(
				'class'  => 'btn-primary',
			),
		),
	);

	echo $this->formTwb($form, \DluTwBootstrap\Form\FormUtil::FORM_TYPE_HORIZONTAL, $displayOptions);
	?>
