<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
		<?php echo $this->headTitle('Zend Site ')->setSeparator(' - ')->setAutoEscape(FALSE) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

		<!-- Le styles -->
		<?php echo $this->headLink()
			->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
			->prependStylesheet($this->basePath() . '/css/style.css')
			->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
			->prependStylesheet($this->basePath() . '/css/dlu-tw-bootstrap.css'); ?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
			->prependFile($this->basePath() . '/js/bootstrap.min.js')
			->prependFile($this->basePath() . '/js/jquery.min.js')

		?>

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand "
					   href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Zend Site') ?></a>
                    <div class="nav-collapse collapse">

     					<?php
						echo $this->navigation('navigation')->menu()->setUlClass('nav')->renderMenu(); ?>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
				<?php
					$breadcrumbs = $this->navigation()->breadcrumbs()->setSeparator('/')->setMinDepth(0);
					if($breadcrumbs!=""){
						echo '<ul class="breadcrumbs breadcrumb">'.$breadcrumbs."</ul>";
					}
				?>
            <?php echo $this->content; ?>
			<hr>
            <footer>

		Copyright &copy; <?php echo date('Y'); ?> by Niels Corneille.<br/>
		3TIN - University College Ghent<br/>
		Powered by <a href="http://framework.zend.com/">Zend Framework</a>.</footer>
        </div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
    </body>
</html>
