{# src/Acme/HelloBundle/Resources/views/Default/about.html.twig #}
 {% extends '::base.html.twig' %}
 {% block title %}
     About
 {% endblock %}
 {% block content_row %}
<p>This is the Symfony site, part of Niels' thesis.<br/>
Niels Corneille - 3TIN - University College Ghent - 2013</p>
 {% endblock %}