{# src/Acme/HelloBundle/Resources/views/Default/contact.html.twig #}
 {% extends '::base.html.twig' %}
 {% block title %}
     Contact
 {% endblock %}
 {% block content_row %}
    <p>If you have any questions, please fill out the following form to contact us. Thank you.</p>

     <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}

         {{ form_row(form.name) }}
         {{ form_row(form.email) }}
         {{ form_row(form.subject) }}
         {{ form_row(form.message) }}

         {{ form_rest(form) }}
         <div class="form-actions">
		    <button class="btn btn-primary" type="submit">Submit</button>
         </div>

</form>
 {% endblock %}