{# src/Acme/HelloBundle/Resources/views/Default/contact.html.twig #}
 {% extends '::base.html.twig' %}
 {% block title %}
     Contact
 {% endblock %}
 {% block content_row %}
    <p>Your mail has been sent.</p>
</form>
 {% endblock %}