<div class="comment" id="c<?php echo $comment->id; ?>"
	 <a href="<?php echo $this->url('comment',
	array('action'=>'view', 'id' => $comment->id));?>">
		<?php echo '#'.$comment->id;?></a>
	<span class="muted">
		<?php echo date('F j, Y \a\t h:i a',$comment->create_time); ?>
	</span><br/>
	<span class="author">
		<strong><?php echo $comment->author; ?></strong> says:
	</span><br/>
	<p class="content">
		<?php echo nl2br($comment->content); ?>
	</p>

</div><!-- comment -->