<div class="post">
	<h3 style="margin-bottom: 0px">
		<a href="<?php echo $this->url('post',
			array('action'=>'view', 'id' => $this->post->getId()));?>">
		<?php echo $this->escapeHtml($this->post->getTitle()); //TODO link?></a></h3>
	<p class="muted">
		posted by <?php //echo '<strong>' . $data->author->username . '</strong> on ' . date('F j, Y', $data->create_time); ?>
	</p>
	<div>
		<?php echo $this->escapeHtml($post->getContent());?>
	</div>
	<div class="nav">
		<b>Tags:</b>
		<?php
		/*
		foreach ($post->tagLinks as $tag => $status)
		{
			//TODO find posts tagged with tag echo "<a href=" . $tag['link'] . ">";
			echo  '<span class="label label-'.$status.'">'.$tag. '</span>&nbsp;';
			//echo "</a> ";
		}*/
		?>
		<br/>
		<a href="<?php echo $this->url('post',
			array('action'=>'view', 'id' => $this->post->getId()));?>#comments">
		<?php //echo "Comments ({$this->post->commentCount})" ?></a> |
		Last updated on <?php echo date('F j, Y', $post->getUpdateTime()); ?>
	</div>
	</div>