<?php
// module/Blog/view/post/post/edit.phtml:

$title = 'Update post';
$this->headTitle($title);
?>
<h1>Update <em><?php echo $this->form->get('title')->getValue(); ?></em></h1>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
	'post',
	array(
		'action' => 'edit',
		'id'     => $this->id,
	)
));
$form->prepare();
if ($form->getMessages()):
	?>
	<div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong>Invalid input!</strong>
        The form fields are not filled out correctly.
    </div>
<?php
endif;
$displayOptions = array(
	'elements' => array(
		'title'      => array(
			'class'    => 'span4',
			'required' => TRUE,
		),
		'content'  => array(
			'class'    => 'span4',
			'rows'     => 5,
			'required' => TRUE,
		),
		'tags' => array(
			'class'    => 'span4',
		),
	),
);

echo $this->formTwb($form, \DluTwBootstrap\Form\FormUtil::FORM_TYPE_HORIZONTAL, $displayOptions);
?>
