<?php
// module/Blog/view/post/post/index.phtml:

$title = 'Zend site';
$this->headTitle($title);
?>
<div class="hero-unit">
    <h1><?php echo $title ?></h1>

<p>Welcome to the Yii site, part of Niels' thesis. You could also visit the other sites:</p>
<p><a class="btn btn-info btn-large" href="http://localhost/bachelorproef/yii/">Yii site</a>
	<a class="btn btn-inverse btn-large" href="http://localhost/bachelorproef/symfony/">Symfony Site</a></p>
</div>

<?php

foreach ($posts as $post)
{
	echo $this->partial('blog/post/_item.phtml', array('post'=>$post));
}
?>