{% extends '::base.html.twig' %}
{% block title %}Approve Comments{% endblock %}
{% block content_content -%}
    {% for comment in entities %}
        {{ include('BlogBundle:Comment:list_view.html.twig', {'comment': comment}) }}
    {% endfor %}
{% endblock %}
