<div class="comment" id="c{{ comment.id }}">

    <a href="{{ path('post_show', { 'id': comment.post.id }) }}">#{{ comment.id }}</a><br/>
    <span class="author">
		<strong>{{ comment.author }}</strong> says on
         	<a href="{{ path('post_show',{'id' : comment.post.id}) }}">{{ comment.post.title }}</a>:
	</span><br/>
    <p>
    {% if not comment.isApproved() %}
        Pending approval | <a href="{{ path('comment_approve',{'id' : comment.id}) }}">Approve</a> |
    {% endif %}
    <a href="{{ path('comment_edit',{'id' : comment.id}) }}">Update</a> |
        <a href="{{ path('comment_delete',{'id' : comment.id}) }}">Delete</a> |
        {{ comment.createTime|date('F j, Y \a\t h:i a') }}
</p>

	<p class="lead">
		{{ comment.content }}
	</p>
</div><!-- comment -->