<div class="comment" id="c{{ comment.id }}">

    <a href="{{ path('post_show', { 'id': comment.post.id }) }}">#{{ comment.id }}</a>
	<span class="muted">
        {{ comment.createTime|date('F j, Y \a\t h:i a') }}
	</span><br/>
	<span class="author">
		<strong>{{ comment.author }}</strong> says:
	</span><br/>
	<p class="content">
		{{ comment.content }}
	</p>

</div><!-- comment -->