<h1>Login</h1>
<p>Please fill out the following form with your login credentials:</p>
<?php
//module/Application/view/application/auth/login.phtml
$form = $this->form;
$form->setAttribute('action', $this->url('login'));
$form->prepare();

if ($messages):
	?>
	<div class="alert alert-error">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong>Invalid input!</strong>
        The form fields are not filled out correctly.
<?php
	echo '<ul>';
	foreach ($messages as $message)
	{

		echo '<li>' . $message . '</li>';
	}
	echo '</ul></div>';
endif;


$displayOptions = array(
	'elements' => array(
		'username'      => array(
			'class'    => 'span2',
			'required' => TRUE,
		),
		'password'  => array(
			'class'    => 'span2',
			'required' => TRUE,
		),
		'login' => array(
			'class'    => 'btn-primary',
		),
	),
);

echo $this->formTwb($form, \DluTwBootstrap\Form\FormUtil::FORM_TYPE_HORIZONTAL, $displayOptions);
?>
