<!-- //module/Application/view/application/success/index.phtml -->

<br />
<div class="alert alert-success">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <strong>Success!</strong>
        You are now logged in.<br/>
	</div>
<a href="<?php echo $this->url('logout'); ?>">
	<button class="btn btn-danger">Logout</button>
	</a>