{% extends '::base.html.twig' %}

{% block title -%}
    Edit post
{% endblock %}
{% block content_content -%}

    <form action="{{ path('post_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
        {{ form_widget(edit_form) }}
        <div class="form-actions">
		    <button class="btn btn-primary" type="submit">Edit</button>
         </div>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('post_manage') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
