{% extends '::base.html.twig' %}
{% block title %}Posts{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block page_header %}
    <div class="hero-unit">
    <h1>Symfony site</h1>
    <p>Welcome to the Symfony site, part of Niels' thesis. You could also visit the other sites:</p>
   <p>
       <a class="btn btn-success btn-large" href="http://localhost/bachelorproef/zend/public/">Zend site</a>
       <a class="btn btn-info btn-large" href="http://localhost/bachelorproef/yii/">Yii Site</a>
   </p>
</div>
{% endblock %}
{% block content_content -%}
    {% for entity in entities %}
        {{ include('BlogBundle:Post:view.html.twig', {'entity': entity}) }}
    {% endfor %}
{% endblock %}
