{% extends '::base.html.twig' %}
{% block title %}Manage Posts{% endblock %}
{% block content_content -%}
    <table class="items table">
    <thead>
    <tr>
<th>Title</th>
    <th>Status</a></th>
    <th>Create Time</th>
    <th>&nbsp;</th>
</tr>
    </thead>
    <tbody>
    {% for entity in entities %}
<tr>
	<div>
    <td><a href="{{ path('post_show', { 'id': entity.id }) }}">
         {{ entity.title }}</a></td>
    <td>{{ entity.statusLabel }}</td><td>{{ entity.createTime|date('F j, Y') }}</td>
    <td class="button-column">
        <a class="update" title="Update" rel="tooltip" href="{{ path('post_edit', { 'id': entity.id }) }}">
            Edit</a> |
        <a class="delete" title="Delete" rel="tooltip" href="{{ path('post_delete', { 'id': entity.id }) }}">
            Delete</a>
    </td>
</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
