{% extends '::base.html.twig' %}
{% block title %}
     Create post
{% endblock %}
{% block content_content %}
    <form action="{{ path('post_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        <div class="form-actions">
		    <button class="btn btn-primary" type="submit">Create</button>
         </div>
    </form>
{% endblock %}
