{% extends '::base.html.twig' %}

{% block title %}{{ entity.title }}{% endblock %}
{% block content_content -%}
    {{ include('BlogBundle:Post:view.html.twig', {'entity': entity}) }}
    {% set commentCount = entity.approvedComments|length %}
    {% if commentCount > 0 %}
    <h3>{{ (commentCount > 1) ? (commentCount ~ ' comments') : 'One comment' }}</h3>
    {% for comment in entity.approvedComments %}
            {{ include('BlogBundle:Comment:view.html.twig', {'comment': comment}) }}
    {% endfor %}
   {% endif %}
    <h3>Leave a comment</h3>
    <form action="{{ path('comment_create',{ 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
     <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create</button>
         </div>

    </form>
{% endblock %}
