<div class="post">
	<h3 style="margin-bottom: 0px">
        <a href="{{ path('post_show', { 'id': entity.id }) }}">
         {{ entity.title }}</a></h3>
	<p class="muted">
		posted by <strong>{{ entity.author.username }}</strong> on {{ entity.createTime|date('F j, Y') }}
	</p>
	<div>
		{{ entity.content }}
	</div>
	<div class="nav">
		<b>Tags:</b>
        {% for tag in entity.tagLinks %}
            <a href="{{ tag['link'] }}">
                <span class="label label-{{ tag['label'] }}">{{ tag['tag'] }}</span></a>
        {% endfor %}
		<br/>
        <a href="{{ path('post_show', { 'id': entity.id }) }}">Permalink</a> |
        <a href="{{ path('post_show', { 'id': entity.id }) }}#comments">Comments ({{ entity.comments|length }})</a>
        |
		Last updated on  {{ entity.updateTime|date('F j, Y') }}
	</div>
</div>