{% extends '::base.html.twig' %}
 {% block title %}
     Login
 {% endblock %}
 {% block content_row %}

<form action="{{ path('login_check') }}" method="post" class="form form-horizontal">
    	<p class="note">Fields with <span class="required">*</span> are required.</p>
    {% if error %}
        <div class="alert alert-error">
  <strong>Error!</strong>
  {{ error.message }}  </div><div></div>
    {% endif %}
   	<div class="control-group ">
        <label class="control-label required" for="username">Username <span class="required">*</span></label>
        <div class="controls"><input type="text" id="username" name="_username" value="{{ last_username }}"/></div>
    </div>
    <div class="control-group ">
        <label class="control-label required" for="password">Password <span class="required">*</span></label>
        <div class="controls"><input type="password" id="password" name="_password"/>
        <p class="help-block">Hint: You may login with <kbd>demo</kbd>/<kbd>demo</kbd> or <kbd>admin</kbd>/<kbd>admin</kbd></p></div>
    </div>
    <div class="form-actions">
		    <button class="btn btn-primary" type="submit">Login</button>
         </div>
</form>

{% endblock %}